.commentTitle{
    border-bottom: 1px solid #009dff;
    font-style: italic;
    margin-bottom: 5px;
}
.labelContainer{
    margin:  5px 0px 5px 0px;

}
.rateInput{
    padding: 5px;
}
.inputRate{
    margin-left: 3px;

}